body {
  background-color: black;
  color: white;
}

.show {
  display: block;
}

.hide {
  display: none;
}
/* 
form {
  background-color: red;
}

h4 {
  background-color: green;
} */

strong {
  display: inline-block;
}
